.likes-block {
    line-height:24px;
    height:24px;
}

.headerLayout .likes-block {
    text-align:right;
    padding:50px 0 0;
}

.like {
    display:inline-block;
    height:24px;
    line-height:24px;
    position:relative;
    font:normal 10px tahoma;
    color:#fff;
    min-width:29px;
    vertical-align:top;
    text-align:center;
    padding:0;
}

.likes-block .like:first-child {
    margin-left:10px;
}

.like .l-ico {
    width:24px;
    height:24px;
    position:absolute;
    top:0;
    left:-12px;
    background-image:url("./images/likes-ico.png");
    background-repeat:no-repeat;
}

.l-fb .l-ico {
    background-position:0 0;
}

.l-vk .l-ico {
    background-position:-29px 0;
}

.l-tw .l-ico {
    background-position:-58px 0;
}

.like .l-count {
    vertical-align:middle;
    line-height:24px;
}

.light-likes .like {
    background-position:100% -26px;
    color:#000;
}

.like.like-not-empty {
    background: url("./images/likes-bg.png") no-repeat 100% 0;
    margin-right:14px;
    padding:0 0 0 9px;
}

a.like {
    text-decoration: none;
}








/*********************************************************/

.event-container {
    width: 500px;
}

.event-image {
    float: left;
    padding: 5px;
}