.b-share-buttons
  line-height 24px
  height 24px
  text-align right
  margin-bottom 30px

.b-share-button
  display: inline-block
  height: 24px
  width: 24px
  text-decoration none
  position relative

  .b-share-button__icon
    width 24px
    height 24px
    left -12px
    position absolute
    background-image embedurl("../images/likes-ico.png")
    background-repeat no-repeat

  .b-share-button__icon.facebook
    background-position 0 0

  .b-share-button__icon.vkontakte
    background-position -29px 0

  .b-share-button__icon.twitter
    background-position -58px 0


// a.like

// .likes-block .like first-child
//   margin-left 10px


// .like.like-not-empty
//   background embedurl("../images/likes-bg.png") no-repeat 100% 0
//   margin-right 14px
//   padding 0 0 0 9px

// .like
//   display inline-block
//   height 24px
//   line-height 24px
//   position relative
//   font normal 10px tahoma
//   color #fff
//   min-width 29px
//   vertical-align top
//   text-align center
//   padding 0


//   .l-count
//     vertical-align middle
//     line-height 24px
//     cursor default

// .l-fb
//   background-position 0 0

// .l-vk
//   background-position -29px 0

// .l-tw
//   background-position -58px 0
